{% load static %}
<section class="py-24 relative animate-fade animate-delay-300">
    <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
        <div class="w-full justify-start items-center gap-12 grid lg:grid-cols-2 grid-cols-1">
            <div
                class="w-full justify-center items-start gap-6 grid sm:grid-cols-2 grid-cols-1 lg:order-first order-last">
                <div class="pt-24 lg:justify-center sm:justify-end justify-start items-start gap-2.5 flex">
                    <img class="rounded-xl object-cover animate-fade-up animate-delay-300 w-full h-auto shadow-lg shadow-black"
                        src="{% static 'images/designer-sneakers-1.webp' %}" alt="HypeKicks collection image" />
                </div>
                <img class="sm:ml-0 ml-auto rounded-xl object-cover animate-fade-down animate-delay-300 w-full h-fit shadow-lg shadow-black"
                    src="{% static 'images/designer-sneakers-2.jpeg' %}" alt="HypeKicks collection image" />
            </div>
            <div class="w-full flex-col justify-center lg:items-start items-center gap-10 inline-flex">
                <div class="w-full flex-col justify-center items-start gap-8 flex">
                    <div class="w-full flex-col justify-start lg:items-start items-center gap-3 flex">
                        <h1
                            class="bg-gradient-to-r from-accent to-primary text-5xl font-bokor inline-block text-transparent bg-clip-text mb-4 animate-fade-right delay-300">
                            Step into Luxury with HypeKicks</h1>
                        <p
                            class="text-zinc-50 text-lg font-montserrat leading-loose lg:text-start text-center underline underline-offset-2 animate-fade-up animate-delay-500">
                            At HypeKicks, we bring the world’s most coveted sneaker brands to your doorstep. From iconic
                            classics to the latest drops, our curated collection ensures every sneaker enthusiast finds
                            their perfect pair. Discover luxury, exclusivity, and unmatched style, all in one place.
                        </p>
                    </div>
                    <div class="w-full lg:justify-start justify-center items-center sm:gap-10 gap-5 inline-flex">
                        <div class="flex-col justify-start items-start inline-flex animate-fade-left animate-delay-500">
                            <h3
                                class="text-secondary text-4xl font-bold font-fira leading-normal transition duration-300 delay-150 hover:text-primary">
                                50+</h3>
                            <h6 class="text-accent text-lg font-semibold font-montserrat leading-relaxed">Brands
                                Featured
                            </h6>
                        </div>
                        <div class="flex-col justify-start items-start inline-flex animate-fade-left animate-delay-700">
                            <h4
                                class="text-secondary text-4xl font-bold font-fira leading-normal transition duration-300 delay-150 hover:text-primary">
                                1,000+</h4>
                            <h6 class="text-accent text-lg font-semibold font-montserrat leading-relaxed">Exclusive
                                Sneakers
                            </h6>
                        </div>
                        <div
                            class="flex-col justify-start items-start inline-flex animate-fade-left animate-delay-1000">
                            <h4
                                class="text-secondary text-4xl font-bold font-fira leading-normal transition duration-300 delay-150 hover:text-primary">
                                99%</h4>
                            <h6 class="text-accent text-lg font-semibold font-montserrat leading-relaxed">Customer
                                Satisfaction</h6>
                        </div>
                    </div>
                </div>
                <span class="px-1.5 text-white text-2xl font-bold font-doto leading-6">log in and start shopping
                    now</span>
            </div>
        </div>
    </div>
</section>
