<!DOCTYPE html>
<html lang="en" data-theme="dim">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% load static %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script defer src="{% static 'js/alpine_focus.min.js'%}"></script>
    <script defer src="{% static 'js/alpine_typew.min.js'%}"></script>
    <script src="{% static 'js/htmx.min.js'%}">


    </script>
    <script src="{% static 'js/alpine.min.js' %}" defer>

    </script>
</head>

<body>
    <img src="{% static 'images/background.webp' %}" alt=""
        class="absolute top-0 left-0 h-full w-full object-fill -z-10 blur-2xl opacity-50">

    <c-navbar></c-navbar>
    {% if not user.is_authenticated %}

    <c-hero></c-hero>
    {% else %}
    <h1 class="text-5xl text-center mt-12">YOU ARE LOGGED IN</h1>
    {% endif %}
    <c-footer></c-footer>


    <link href="{% static 'css/icons.css' %}" rel="stylesheet">
</body>

</html>
