<!DOCTYPE html>
<html lang="en" data-theme="dim">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% load static %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script defer src="{% static 'js/alpine_focus.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@marcreichel/alpine-typewriter/dist/alpine-typewriter.min.js"
        defer></script>
    <script src="{% static 'js/htmx.min.js'%}">


    </script>
    <script src="{% static 'js/alpine.min.js' %}" defer>

    </script>
</head>

<body>
    <img src="{% static 'images/background.webp' %}" alt=""
        class="absolute top-0 left-0 h-full w-full object-fill -z-10 blur-2xl opacity-50">

    <c-navbar></c-navbar>
    <c-header></c-header>
    <c-footer></c-footer>


</body>

</html>
