<section class="sm:py-16 lg:py-20 overflow-y-auto scrollbar-hidden animate-fade-right animate-delay-500">
    <div class="mx-auto px-4 sm:px-6 lg:px-8 mb-12">

        <div class="mx-auto mt-2 max-w-md md:mt-12">
            <div class="rounded-xl bg-zinc-700 bg-opacity-25 shadow-black shadow-lg">
                <div class="px-4 py-6 sm:px-8 sm:py-10">
                    <div class="flow-root">
                        <ul class="-my-8">
                            {% for item in cart_items %}
                            {% csrf_token %}
                            <c-cart.cart-item></c-cart.cart-item>
                            {% empty %}
                            <p class="text-center text-accent text-2xl">your cart is empty. <i
                                    class="si-emoji-sad ml-2"></i>
                            </p>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="mt-12 space-y-3 border-t border-zinc-700 border-b py-8">
                        <div class="flex items-center justify-between">
                            <p class="text-secondary text-md font-semibold font-fira">subtotal</p>
                            <p class="text-lg font-semibold text-accent">€{{ total_price }}</p>
                        </div>
                    </div>
                    <div class="mt-6 flex items-center justify-between">
                        <p class="text-lg font-bold font-fira text-secondary">total</p>
                        <p class="text-2xl font-semibold text-accent">
                            €{{ total_price }}
                        </p>
                    </div>

                    <div class="mt-6 text-center animate-jump-in">
                        <button type="button"
                            class="group inline-flex w-full items-center justify-center rounded-md bg-transparent px-6 py-4 text-lg font-semibold text-accent transition-all duration-200 ease-in-out focus:shadow hover:bg-accent hover:bg-opacity-25 border border-accent hover:text-white font-fira">
                            checkout
                            <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:ml-8 ml-4 h-6 w-6 transition-all"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
