{% if messages %}
<div class="mx-auto bg-black  mt-12 bg-opacity-25 p-4 rounded-xl shadow-black shadow-md w-fit">

    {% for message in messages %}
    {% if message.tags == 'success' %}
    <c-messages.alert-success>{{ message }}</c-messages.alert-success>
    {% elif message.tags == 'error' %}
    <c-messages.alert-error>{{ message }}</c-messages.alert-error>
    {% elif message.tags == 'info' %}
    <c-messages.alert-info>{{ message }}</c-messages.alert-info>
    {% elif message.tags == 'warning' %}
    <c-messages.alert-warning>{{ message }}</c-messages.alert-warning>
    {% endif %}
    {% endfor %}
</div>
{% else %}
{% if user.profile.username is None and user.is_authenticated == True %}
<div class="mx-auto bg-black  mt-12 bg-opacity-25 p-4 rounded-xl shadow-black shadow-md w-fit font-robotoCondensed">
    <c-messages.alert_warning>please finish setting up your profile</c-messages.alert_warning>
</div>
{% elif user.is_authenticated == False %}

{% else %}
<div class="mx-auto bg-black  mt-4 bg-opacity-25 p-4 rounded-xl shadow-black shadow-md w-max">
    <span class="font-fira inline-block text-xl">welcome <p class="font-fira text-accent inline-block text-xl pl-2">
            {{ user.profile.username }}
        </p>
    </span>
</div>

{% endif %}
{% endif %}
