argcomplete==3.5.0
asgiref==3.8.1
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
colorama==0.4.6
commitizen==3.29.0
decli==0.6.2
django==5.1.1
django-cotton==1.0.9
django-environ==0.11.2
django-extensions==3.2.3
django-htmx==1.19.0
django-recaptcha==4.0.0
jinja2==3.1.4
markupsafe==2.1.5
packaging==24.1
pillow==11.0.0
prompt-toolkit==3.0.36
psycopg2-binary==2.9.9
pyyaml==6.0.2
questionary==2.0.1
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
termcolor==2.4.0
tomlkit==0.13.2
wcwidth==0.2.13
