<div class="self-start">
    <a hx-get="{% url 'profile_details' %}" hx-swap="innerHTML" hx-target="#profile-container" class="">

        <i
            class="si-arrow-left animate-jump-in text-accent transition delay-200 duration-500 hover:text-primary hover:cursor-pointer text-3xl"></i>
    </a>

</div>
<div class="snap-center bg-zinc-500 bg-opacity-5 rounded-xl p-12 shadow-black shadow-lg animate-fade-left w-2/3">
    <h1 class="bg-gradient-to-r from-accent to-primary text-2xl inline-block text-transparent bg-clip-text mb-4">edit
        your profile information</h1>
    <c-profiles.profile_form></c-profiles.profile_form>


</div>
