<form class="flex flex-col gap-6 animate-fade-down w-full" hx-post="{% url 'profile_setup' %}" hx-swap="innerHTML"
    hx-target="#profile-container">
    {% csrf_token %}
    {% if 'username' in form.fields %}

    <div class="relative z-0 animate-fade-up">
        {{ form.username }}
        <label for="username"
            class="absolute text-md text-zinc-50 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            username
        </label>
    </div>
    {% endif %}
    <div class="relative z-0 animate-delay-150 animate-fade-up">
        {{ form.first_name }}

        <label for="first_name"
            class="absolute text-md text-zinc-50 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            first name
        </label>

    </div>

    <div class="relative z-0 animate-delay-300 animate-fade-up">
        {{ form.last_name }}

        <label for="last_name"
            class="absolute text-md text-zinc-50 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            last name
        </label>

    </div>

    <div class="relative z-0 animate-delay-500 animate-fade-up">
        {{ form.address }}

        <label for="address"
            class="absolute text-md text-zinc-50 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            address
        </label>

    </div>

    <div class="relative z-0 animate-delay-700 animate-fade-up">
        {{ form.phone_number }}

        <label for="phone_number"
            class="absolute text-md text-zinc-50 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            phone number
        </label>

    </div>

    {% if form.username.errors %}
    <c-messages.alert-warning>{{ form.username.errors|first }}</c-messages.alert-warning>
    {% endif %}

    {% if form.first_name.errors %}
    <c-messages.alert-warning>{{ form.first_name.errors|first }}</c-messages.alert-warning>
    {% endif %}

    {% if form.last_name.errors %}
    <c-messages.alert-warning>{{ form.last_name.errors|first }}</c-messages.alert-warning>
    {% endif %}

    {% if form.address.errors %}
    <c-messages.alert-warning>{{ form.address.errors|first }}</c-messages.alert-warning>
    {% endif %}

    {% if form.phone_number.errors %}
    <c-messages.alert-warning>{{ form.phone_number.errors|first }}</c-messages.alert-warning>
    {% endif %}

    {% if form.non_field_errors %}
    <c-messages.alert-error>{{ form.non_field_errors|first }}</c-messages.alert-error>
    {% endif %}

    <button type="submit"
        class="bg-transparent border-2 border-primary w-max m-auto px-6 py-2 rounded text-primary transform delay-150 duration-300 hover:animate-shake hover:scale-110 hover:bg-accent hover:border-accent hover:text-accent hover:bg-opacity-15 text-md font-bold animate-delay-1000 animate-fade-up">
        update profile
    </button>
</form>
