<div class="h-fit bg-zinc-950 bg-opacity-25 rounded-2xl shadow-zinc-700 px-8 py-6 shadow-lg animate-fade-left">
    <h1 class="text-3xl text-primary font-bokor font-bold  mb-4 animate-fade-up">Orders</h1>

    <div class="flex space-x-4 border-b border-primary pb-2">
        <button hx-get="{% url 'orders_list' %}" hx-vars='{"status": "ongoing"}' hx-target="#orders-container"
            hx-swap="innerHTML"
            class="text-warning text-lg font-medium font-fira hover:text-accent animate-fade-left animate-delay-75">
            ongoing
        </button>
        <button hx-get="{% url 'orders_list' %}" hx-vars='{"status": "completed"}' hx-target="#orders-container"
            hx-swap="innerHTML"
            class="text-success text-lg font-medium font-fira hover:text-accent animate-fade-left animate-delay-150">
            completed
        </button>
    </div>

    <div id="orders-container" class="mt-4 max-h-[400px] overflow-y-auto scrollbar-hidden">
        <div hx-get="{% url 'orders_list' %}" hx-vars='{"status": "ongoing"}' hx-trigger="load"
            hx-target="#orders-container" hx-swap="innerHTML">
            <div class="flex justify-center items-center h-32">
                <p class="text-gray-400">Loading your ongoing orders...</p>
            </div>
        </div>
    </div>
</div>
